@font-face{
	font-family:header1;
	src:url(../fonts/sq.ttf);
}
@font-face{
	font-family:nav;
	src:url(../fonts/cl.ttf);
	}

nav ul{
    font-family:nav;
    padding: 0px;
    list-style: none;
    font-weight: bold;
	font-size:150%;
	margin-bottom:0px;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
li a {
    text-decoration: none;
    color:#303030;
}
li a:hover {
    color: #000000;
}
.content {
	text-align:center;
    margin: 0 auto;
    width:50%;
    top:50%;
    position: fixed;
}

#image{
    width:100%;
    height:100vh;
    opacity: 0.6;
}

h1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  font-family:header1;
  font-size: 510%;
  margin:20px;
  color:#303030;
  text-align: center;
}

nav{
    text-align:center; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section{
    background-color: rgb(217, 217, 217,0.4) !important;
    z-index:100;
}

.hidden{
    display: none;
}

body{
    margin:0;
}

@media only screen and (max-width:1000px) {
    h1{
        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -150%);
        background: none;
        font-family:header1;
        font-size: 710%;
        color:#303030;
        text-align: center;
        font-weight: bold;
        padding-bottom:6%;
        width:100%;
      }
      
      nav{
          text-align:center; 
          position: fixed;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size:250%;
          width:100%;
      }
      nav ul li{
          display: block;
      }
}