@font-face{
	font-family:header1;
	src:url(../fonts/sq.ttf);
}
@font-face{
	font-family:nav;
	src:url(../fonts/dk.otf);
	}

h1{
	font-family:header1;
	font-size: 450%;
	margin:20px;
}
.avatar{ 
	border-radius: 50% 50%;
	max-width:150px;
	height:150px;
	float:right;
	margin-top:-10px;
	margin-right:10%;
}
.title h1{
	font-family:header1;
	font-size: 350%;
	text-align:center;
}
.title{
	width:80%;
	border-bottom:2px #494949 solid;
}
body {
    margin: 60px auto;
	margin-top:30px;
    width: 70%;
	border-right:2px #494949 solid;
	border-left:2px #494949 solid;
	padding-left:2%;
	padding-right:2%;
}
nav ul{
    font-family:nav;
    padding: 0px;
    list-style: none;
    font-weight: bold;
	font-size:150%;
	margin-bottom:0px;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
li a {
    text-decoration: none;
    color: #999;
}
li a:hover {
    color:#494949;
}

p {
    line-height: 140%;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 80%;
}
nav{
	padding-bottom:3%;
	border-bottom:2px #494949 solid;
}
body{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
aside{
	width:15%;
	float:right;
	border-left:2px #494949 solid;
	margin-top:2%;
	padding-left:2%;
	display:inline;
}
aside h4{
	font-family:nav;
	font-size:120%;
	margin:2%;
}
aside ul{
	padding-left:25px;
	margin-bottom:0;
}
aside li{
	padding-top:1px;
	font-size:90%;
}
.subtitle{
	font-family:nav;
	padding-top:2%;
	margin-top:0;
	font-size:120%;
	padding-bottom:2%;
	border-bottom:2px #494949 solid;
}
.story h3, .about h3{
	font-family:nav;
	font-size:200%;
	margin:0;
	
}

.story{
	width:45%;
	float:right;
	border-right:2px #494949 solid;
	padding-left:2%;
	padding-right:2%;
}
	
.about{
	width:45%;
	float:left;
	border-right:2px #494949 solid;
	border-left:2px #494949 solid;
	padding-left:2%;
	padding-right:2%;
}

