@font-face{
	font-family:header1;
	src:url(../fonts/sq.ttf);
}
@font-face{
	font-family:nav;
	src:url(../fonts/co.ttf);
	}

h1{
	font-family:header1;
	font-size: 450%;
	margin:20px;
	
}
body {
    margin: 60px auto;
	margin-top:30px;
    width: 70%;
}
nav ul{
    font-family:nav;
    padding: 0px;
    list-style: none;
    font-weight: bold;
	font-size:150%;
	margin-bottom:0px;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
li a {
    text-decoration: none;
    color: #999;
}
li a:hover {
    color:#494949;
}

p {
    line-height: 140%;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 80%;
}
nav{
	padding-bottom:3%;
	border-bottom:2px #494949 solid;
}
body{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
aside{
	width:15%;
	float:right;
	border-left:2px #494949 solid;
	margin-top:2%;
	padding-left:2%;
}
aside h4{
	font-family:nav;
	font-size:120%;
	margin:2%;
}




