body{
    background-color:black;
    color:white;
}
#names,#note{
    padding-top:5%;
    text-align: center;
    margin:0 auto;
}
.icon{
    width:40%;
    padding:10px;
    border:white 2px solid;
    margin:5px;
}
#created{
    float:right;
    clear:left;
    color:white;
    text-align: center;
    margin-top:1%;
}

#created{
    color:white;
    bottom:30px;
    right:-10px;
    position:fixed;
  }
  #created img{
    width:25%;
    border:2px #f171da solid;
    padding:5px;
    border-radius: 50%;
  }
  #created img:hover{
    border:2px #989dfc solid;
    color:#989dfc;
    text-decoration: none;
  }

.back{
    bottom:20px;
}

.btn{
    border:#f171da 2px solid;
    background-color: black;
    padding:10px;
    margin:15px;
}

.btn:hover{
    border:#989dfc 2px solid;
    color:#989dfc;
}

#note p{
    width:80%;
    margin:0 auto;
}

@media only screen and (min-width:1000px) {
    .icon{
        width:25%;
    }
    #note p{
        width:25%;
    }
    #names,#note{
        padding-top:2%;
    }
}