body{
    background-color:black;
    color:white;
}
#names,#note{
    padding-top:5%;
    text-align: center;
    margin:0 auto;
}
.icon{
    width:40%;
    padding:10px;
    border:white 2px solid;
    margin:5px;
}
#created{
    float:right;
    color:white
    
}
#created img{
    width:10%;

}

.back{
    bottom:20px;
}

.btn{
    border:white 2px solid;
    background-color: black;
    padding:10px;
    margin:15px;
}

.btn:hover{
    background-color: white;
    border:black 2px solid;
    color:black;
}

#note p{
    width:80%;
    margin:0 auto;
}

@media only screen and (min-width:1000px) {
    .icon{
        width:25%;
    }
    #note p{
        width:25%;
    }
    #names,#note{
        padding-top:2%;
    }
}