body{
    background-color:black;
    color:white;
}
#names,#note{
    padding-top:5%;
    text-align: center;
    margin:0 auto;
}
.icon{
    width:50%;
    padding:10px;
    border:white 2px solid;
    margin:5px;
}
.back{
    bottom:20px;
}

.btn{
    border:white 2px solid;
    background-color: black;
    padding:10px;
    margin:15px;
}

.btn:hover{
    background-color: white;
    border:black 2px solid;
    color:black;
}

#note p{
    width:80%;
    margin:0 auto;
}

